.most-popular-item{
   flex: 1 25%;
}
.card-wrapper{
    background-color: var(--color-dark);
    border-radius:calc(var( --border-redios-primary)/2);
    padding: calc(var(--pading-primary)/2);
    margin: calc(var(--margan-primary)/5);
    
 }
 .most-popular-item-img{
    width: 100%;
    border-radius:calc(var( --border-redios-primary)/2);
    margin-bottom:calc(var( --margan-primary)/2);
 }
 .most-popular-item-content{
    display: flex ;
    justify-content: space-between;
 }
 .most-popular-item-title{
   font-size: 14px;
 }